<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://uwaterloo.ca/science/sites/ca.science/files/uploads/images/istock-158589182-height-banner.jpg);">
  <div class="container">
        <h1>Welcome To Shorties Inc.</h1>
        <p>Find someone <strong>shorter</strong>!</p>
        <p>Stop looking short, Rent a Shortie</p>
    <a class="btn btn-flat" href="#">Rent now</a>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.vanityfair.com/photos/571260aa1127b91b74688648/master/pass/906020_1000448100018481_3721444261468514489_o.jpg);">
  <div class="container">
    <h1>Welcome To Shorties Inc.</h1>
      <p>Find someone <strong>shorter</strong>!</p>
      <p>Stop looking short, Rent a Shortie</p>
      <a class="btn btn-flat" href="#">Rent now</a>
  </div>
</div>
