// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "shorties/index";

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 80px;    /* Footer height */
}

body {
  // background-color: #f1f1f1;
  background-color: white;
}

.stuck {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // position: sticky;
  // top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 130px;
}


.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  width: 100%;
    min-height: 100vh;
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  z-index: -100;
  opacity: 0.95;
}


.title-short {
  color: #FFDE18;
  font-size: 106px;
  letter-spacing: -0.5px;
  padding-left: 8px;
}

.banner-text p {
  font-size: 30px;
  font-family: Akshar;
  color: white;
  opacity: 0.75;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat {
  color: black;
  padding: 16px 32px;
  border-radius: 4px;
  background: #FFDE18;
  transition: background 0.3s ease;
  font-size: 20px;
  opacity: 0.9 !important;
}

.btn-flat:hover {
  background: #D93BA1;
  color: grey;
}

.btn-primary {
  color: #0D6EFD;
  background-color: #fff;
  border-color: #0D6EFD;
}

.btn-success {
  color: #40e29a;
  background-color: white;
  border-color: #40e29a;
}

.btn-success:hover {
  color: white
}

.card-product {
  overflow: hidden;
  height: fit-content;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: 12px;
}

.home-card {
  border-radius: 22px;
}


.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 12px;
}

.card-product-infos {
  font-size: 16px;
}

a {
  text-decoration: none;
}

h2 a {
  color: #D93BA1;
}

i {
  color: #D93BA1;
  margin-right: 4px;
}

.end-date {
  margin-left: 4px;
}

.title-spacing {
  margin: 32px 0px 12px 0px !important;
}

h3 {
  color: #414143;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

// .date-text {
//   font-size: 14px !important;
// }

.image {
  object-fit: cover;
  // border-radius: 24px;
  height: 100%;
  width: 100%;
}

.book-now {
  background-color: #F4F4F4;
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  font-size: 14px !important;
  background-color: white !important;
}

.book-now .btn-primary {
  background-color: white !important;
  color: #D93BA1 !important;
  border-color: #D93BA1 !important;
}

.map-shorty {
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.map-column {
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin-top: 30px;
}

.map-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 15vh;
  padding: 50px;
}

.card-avatar-bordered {
  width: 30px !important;
  height: 30px !important;
  object-fit: cover;
  border-radius: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.gallery-container {
  max-height: 420px;
}

.small-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.smaller-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-trip-pricing {
  color: #414143;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}


.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  // position: absolute;
  // right: 16px;
  // // top: -20px;
  // width: 40px;
}

.line-break {
  border-bottom: 1px solid rgba(80,80,80,0.2);
  padding: 12px 0px 12px 0px;
}


#billing #discount,
#billing #total {
    height: 45px;
    font-size: 16px;
    margin: 0;
}

#billing #discount div,
#billing #total div {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

#billing #btns .btn {
    width: 100%;
    border-radius: 0;
    padding: 8px 10px;
    color: #3268ff;
    border: 1px solid #3268ff;
}

#billing #btns .btn.btn-default:hover {
    background-color: #3268ff;
    color: #fff;
}

#billing #btns .btn.btn-primary {
    background-color: #6890ff !important;
    color: #fff;
}


/* Backgrounds */
.bg-dark {
    background-color: rgba(180,180,180,1) !important;
}

.card-container {
padding: 0px 8px;
}


.profile-header {
  text-align: center;
  padding: 24px;
}

.profile-photo {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin-top: 24px;
  object-fit: cover;
}

.card-product > img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.footer {
  background: #F4F4F4;
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  color: grey;
  margin-top: 20px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}




// Home page animation

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #D93BA1;
  --secondary-color: #414143;
  --complimentary-color: #FFDE18;
}

.container .projects {
  // min-height: 100vh;
  // position: relative;
  // width: 100vw;
  //  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.projects h1 {
  font-size: 150px;
  color: var(--primary-color);
  transform: translateY(-600px);
  animation: 1.2s slideIn ease-in-out forwards 1s;
  z-index: 10;
  opacity: 0;
  width: 66%;
  position: relative;
}

.home-btn {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transform: translateX(-800px);
  animation: 2s slideIn ease-in-out forwards 1.2s;
  z-index: 10;
  opacity: 0;
  position: relative;
  bottom: -80px;
}

.boy-girl {
  transform: translatey(-800px);
  animation: 2s slideIn ease-in-out forwards 1.2s;
  z-index: 10;
  opacity: 0;
  position: absolute;
  bottom: 100px;
  right: 50px;
  justify-self: end;
  max-width: 200px;
  margin-right: 75px;
}


.projects h1::before {
    content: '';
    width: 0%;
    height: 74px;
    background-image: url(https://i.imgur.com/dN4riGo.png);
    background-color: transparent;
    background-size: auto;
    background-position: auto;
    position: absolute;
    bottom: -10px;
    right: -10 px;
    animation: 1s underline ease-in-out forwards 2s;
    mix-blend-mode: screen;
}

.overlay {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    left: 0;
    right: 0;
    background-color: #414143;
    transform: scale(.5);
    // animation: .5s slideIn ease-in-out forwards, 1s skewBg ease-in-out;
    animation: .0s slideIn ease-in-out forwards, 0s skewBg ease-in-out;
}


@keyframes skewBg {
  0% {
    transform: scale(.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes underline {
  100% {
    width: 100%;
  }
}

@keyframes slideIn {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
