// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "shorties/index";


.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 25px;
}


.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 20px;
}

.banner p {
  font-size: 30px;
  font-family: Akshar;
  color: white;
  opacity: 0.75;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat {
  color: black;
  padding: 16px 32px;
  border-radius: 4px;
  background: #f6ed01;
  transition: background 0.3s ease;
  font-size: 20px;
}

.btn-flat:hover {
  background: #f6ed01;
  color: grey;
}

.card-product {
  overflow: hidden;
  height: fit-content;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

h2 {
  text-decoration: none;
}


.image {
  object-fit: cover;
  // border-radius: 24px;
  height: 100%;
  width: 100%;
}

.gallery-container {
  max-height: 420px;
}

.small-title {
  font-size: 24px
}


.card-trip {
  // overflow: hidden;
  // background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  // position: absolute;
  // right: 16px;
  // // top: -20px;
  // width: 40px;
}

.line-break {
  border-bottom: 1px solid rgba(80,80,80,0.2);
  padding: 12px 0px 12px 0px;
}


#billing #discount,
#billing #total {
    height: 45px;
    font-size: 1.2rem;
    color: #bbb;
}

#billing #discount div,
#billing #total div {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

#billing #btns .btn {
    width: 100%;
    border-radius: 0;
    padding: 8px 10px;
    color: #3268ff;
    border: 1px solid #3268ff;
}

#billing #btns .btn.btn-default:hover {
    background-color: #3268ff;
    color: #fff;
}

#billing #btns .btn.btn-primary {
    background-color: #6890ff !important;
    color: #fff;
}


/* Backgrounds */
.bg-dark {
    background-color: #616161 !important;
}

.card-container {
padding: 0px 8px;
}
